.product {
    /* background-color: #652467a9;
    border: 1px solid #00000032; */
    /* height: 470px; */
    /* background-color: blue; */
    overflow: hidden;
    position: relative;
    padding: 10px;
    /* display: inline-block; */
}

.image {
    /* width: 400px; */
}

.textCutomize {
    /* background-color: #fff; */
    /* background-color: red; */
    overflow: hidden;
    height: 100px;
    display: inline-block;
    width: 100%;
    padding: 5px;
}

a {
    color: #000;
}

.HeartIcon {
    position: absolute;
    top: 0;
    font-size: 25px;
    color: red;
    right: -100%;
    transition: 0.5s all;
}


.product:hover .HeartIcon {
    right: 5%;
}